click==8.1.8
omegaconf==2.3.0
openai==1.66.3
datasets==3.4.0
python-dotenv==1.0.1
ipython==8.34.0
bespokelabs-curator==0.1.20
RapidFuzz==3.12.2
transformers==4.48.3
trl==0.15.2
wandb==0.19.8
accelerate==1.5.2